spring:
  application:
    name: estoque-api
    version: 1.0

  main:
    banner-mode: OFF

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: jdbc:h2:mem:stock_db
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database: H2
    show-sql: true
    properties:
      hibernate:
        format_sql: true
