spring:
  datasource:
    url: jdbc:h2:mem:stock_db
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: 'create-drop'
    show-sql: true
    properties:
      hibernate:
        format_sql: true

